{% extends 'base.html.twig' %}

{% block title %}Edit Room{% endblock %}

{% block body %}
    <h1>Edit Room</h1>

    {{ include('mini_projet/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('room_list') }}">Back to list</a>

    {{ include('mini_projet/_delete_form.html.twig') }}
{% endblock %}
