{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
<h1>Room list</h1>
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        {% for room in rooms %}
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" src="{{ vich_uploader_asset(room, 'imageFile') }}" alt="..." />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">{{ room.summary }}</h5>
                                        <!-- Product price-->
                                        {{ room.price ~ '€' }}
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{path('room_show', {'id': room.id }) }}">Show</a></div>
                                </div>
                            </div>
                        </div>
        {% endfor %} {# rooms #}
        </div>
    </div>
</section>
<a class='btn btn-success' href="{{ path('room_new') }}">Create a new room</a>




{% endblock %} {# body #}
