{% extends 'base.html.twig' %}

{% block title %}New Room{% endblock %}

{% block body %}
    <h1>Create new Room</h1>

    {{ include('mini_projet/_form.html.twig') }}

    <a href="{{ path('room_list') }}">back to list</a>
{% endblock %}
