{% extends 'base.html.twig' %}
{% block body %}

    <table class="table">
        <tbody>
            <tr>
                <th>Image</th>
                <td><img src="{{ vich_uploader_asset(room, 'imageFile') }}"/></td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ room.id }}</td>
            </tr>
            <tr>
                <th>Capacity</th>
                <td>{{ room.capacity }}</td>
            </tr>
            <tr>
                <th>Superficy</th>
                <td>{{ room.superficy }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ room.price }}</td>
            </tr>
            <tr>
                <th>Summary/th>
                <td>{{ room.summary }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ room.description}}</td>
            </tr><tr>
                <th>Regions</th>
                <td>
                {% for region in room.regions %}
                {{ region }}
                {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>


<a href="{{ path('room_list') }}">Back to list</a>
{% endblock %}
