{% extends 'base.html.twig' %}

{% block title %}Region{% endblock %}

{% block body %}
    <h1>Region</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ region.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ region.name }}</td>
            </tr>
            <tr>
                <th>Presentation</th>
                <td>{{ region.presentation }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ region.country }}</td>
            </tr>
        </tbody>
    </table>

    <h2>Rooms</h2>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Adress</th>
                <th>Summary</th>
                <th>Link</th>
                
            </tr>
        </thead>
        <tbody>
        {% for room in region.rooms %}
            <tr>
            
                <td>{{ room.id }}</td>
                
                <td>
                {{ room.adress }}
                </td>
                
                <td>{{ room.summary }}</td>
                <td>
                    <a href="{{path('room_show', {'id': room.id }) }}">
                    Show
                    </a>
                </td>
            
            </tr>
        {% endfor %} {# rooms #}
        </tbody>
    </table>

    <a href="{{ path('region_index') }}">back to list</a>

    <a href="{{ path('region_edit', {'id': region.id}) }}">edit</a>

    {{ include('region/_delete_form.html.twig') }}
{% endblock %}
